!!!
%html(lang="en" data-framework="hyalite")
  %head
    %link{rel:"stylesheet", href:"assets/css/application.css"}
  %body
    .content

    = ::Opal::Sprockets.javascript_include_tag('application', sprockets: settings.opal.sprockets, prefix: 'assets', debug: true)

